libapache2-mod-ocfdir/Makefile
libapache2-mod-ocfdir/autom4te.cache/
libapache2-mod-ocfdir/config.h
libapache2-mod-ocfdir/config.h.in
libapache2-mod-ocfdir/config.status
libapache2-mod-ocfdir/config.log
libapache2-mod-ocfdir/configure
libapache2-mod-ocfdir/.libs
libapache2-mod-ocfdir/*.la
libapache2-mod-ocfdir/*.lo
libapache2-mod-ocfdir/*.slo

libapache2-mod-ocfdir/debian/changelog
libapache2-mod-ocfdir/debian/files
libapache2-mod-ocfdir/debian/*.log
libapache2-mod-ocfdir/debian/*.debhelper
libapache2-mod-ocfdir/debian/libapache2-mod-ocfdir.substvars
libapache2-mod-ocfdir/debian/libapache2-mod-ocfdir

.version
*.changes
*.deb
